

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Истории</h1>
</div>

<div id="yearsList">
    <div class="row">
        <!-- ko if: selectedYear -->
        <!-- ko with: selectedYear-->
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading col-md-12" data-bind="text:year, click: toggle">
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: selectedMonth -->
        <!-- ko with: selectedMonth -->
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" data-bind="text:name, click: toggle">
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: selectedDay -->
        <!-- ko with: selectedDay -->
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" data-bind="text:day, click: toggle">
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="row">

        <!-- Years list -->
        <!-- ko if: selectedYear() == null-->
        <!-- ko foreach:years -->
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" data-bind="text:year, click: toggle">
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- Month list -->
        <!-- ko if: selectedYear && selectedMonth()==null -->
        <!-- ko with:selectedYear -->
        <!-- ko foreach:months -->
        <div class="panel col-md-2">
            <div class="panel-heading" data-bind="text:name, click: toggle">
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- Days list -->
        <!-- ko if: selectedYear && selectedMonth && !selectedDay() -->
        <!-- ko with:selectedMonth -->
        <!-- ko foreach:days -->
        <div class="panel col-md-1">
            <div class="panel-heading" data-bind="text:day, click: toggle">
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- Story list -->
        <!-- ko if: selectedYear && selectedMonth && selectedDay() -->
        <!-- ko with:selectedDay -->
        <!-- ko foreach:stories -->
        <div class="panel panel-default">
            <div class="panel-body" data-bind="html:text">
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/application")
}