@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    To be provided later.
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:vbenedichuk@gmail.com">vbenedichuk@gmail.com</a>    
</address>